$backgroundColor: #285ad89c;

$menu-btn-size: 30px;

// --- button config
$buttonWidth: 60px;
$buttonHeight: 67px;
.floatingButton { // <Button>
  display: flex;
  background: $backgroundColor;
  width: $buttonWidth;
  height: $buttonHeight;
  pointer-events: all;
  justify-content: center;
  border-radius: 0 0 5px 5px;
  align-items: center;
  transition: all 100ms ease-in-out;

  .button {
    font-size: $menu-btn-size;
    color: white;
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: none;
    user-select: none;
    transition: all 100ms ease-in-out;
}
}

.growingFloatingButton { // when hover on <Button>
  height: calc($buttonHeight + ($buttonHeight * 0.35));
  width: calc($buttonWidth + 2px);
  background: #3a70fb;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  .button {
    font-size: 2.2em;
  }
}