$backgroundColor: #2f99b9ad;
$backgroundColor: #17153b7c;

$menu-btn-size: 1.5em;

// --- button config
$buttonHeight: fit-content;
$buttonWidth: fit-content;
$buttonWidth: 58px;
$buttonHeight: 64px;

:root {
  --littleLoginHeight: 230px;
  --littleLoginWidth: 58px;
  --loginAnimationDuration: 120ms;
}

@mixin starting-style {
  overflow: hidden;
  height: var(--littleLoginHeight);
  animation: loginAnimation var(--loginAnimationDuration) cubic-bezier(0.51, -0.28, 0.25, 1) forwards;
}


.Login {
  display: flex;
  position: relative;
  color: white;
  width: $buttonWidth;
  height: $buttonHeight;
  z-index: 1;
  // width: var(--loginButtonRef_width);
  // height: var(--loginButtonRef_height);
  background: #0F67B1;
  border-radius: 0 0 10px 10px;
  align-items: center;
  justify-content: center;
  pointer-events: all;

  div {
    user-select: none;
    pointer-events: none;
  }

  .loginImage {
    display: flex;
    background: none;
    // width: var(--littleLoginHeight);
    // height: var(--littleLoginWidth);
    border: none;
    cursor: pointer;
    pointer-events: all;
    user-select: none;
    transition: scale var(--loginAnimationDuration) ease-in-out;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #3a70fb;
      @extend .Login;
      scale: 1.04;
    }

  img {
    pointer-events: all;
    height: 40px;
    }
  }

  .littleLogin {
    position: absolute;
    top: 0;
    margin-top: -15px;
    pointer-events: all;
    user-select: all;
    // overflow: hidden;
    // width: var(--littleLoginWidth);
    height: var(--littleLoginHeight);
    background: #3a70fb;
    border-radius:0 0 10px 10px ;
    transition: all 1000ms ease;
    z-index: 2;
    right: 1%;

    @include starting-style;

    .login-container {       
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        margin: 5px;
      }

      label {
        align-self: baseline;
      }

      input {
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background: #e8e8e8;
        box-shadow: 20px 20px 60px #c5c5c5;
        transition: 0.3s;
        user-select: all;
        pointer-events: all;

        &:focus {
          outline-color: #e8e8e8;
          background: #e8e8e8;
          box-shadow: inset 20px 20px 60px #c5c5c5,
             inset -20px -20px 60px #ffffff;
          transition: 0.3s;
         }
      }

      button {
        display: flex;
        margin-top: 10px;
        color: #14396A !important;
        border: none;
        font-size: 0.9em;
        padding: 8px 20px;
        border-radius: 10px;
        background: #63B8EE;
        background: linear-gradient(to top, #63B8EE, #468CCF);
        pointer-events: all;
        box-shadow: 0px 0px 1px rgba(39, 39, 39, 0.3);
        &:hover {
          cursor: pointer;
          background: linear-gradient(to top, #468CCF, #63B8EE);
        }
      }
    }
    
  }
  .littleLogin_animation_out {
    @include starting-style();
    animation-name: loginAnimationOut;
  }


 

}
.block { // Componte de relleno atrás del littleLogin en Absolute
  display: flex;
  position: relative;
  height: calc(var(--loginButtonRef_height) + 1px);
  width: calc(var(--loginButtonRef_width) + 1px);
}



// ANIMATIONS 


@keyframes loginAnimation {
  0% {
    height: 0;
    transform: scaleY(0);
    transform: scaleX(1);
  }
  100% {
    scale: 1;
    // height: var(--littleLoginHeight);
    transform: scaleY(1);
    transform: scaleX(1);

  }
}

@keyframes loginAnimationOut {
  0% {
    scale: 1;
    height: var(--littleLoginHeight);
    transform: scaleY(1);
    transform: scaleX(1);
  }
  100% {
    height: 0;
    transform: scaleY(0);
    transform: scaleX(1);

  }
}