$backgroundColor: #2f99b9ad;
$backgroundColor: #17153b7c;

$menu-btn-size: 1.5em;

// --- button config
$buttonWidth: fit-content;
$buttonHeight: fit-content;


.Login {
  display: flex;
  color: white;
  width: $buttonWidth;
  height: $buttonHeight;
  background: #0F67B1;
  border-radius: 0 0 10px 10px;
  align-items: center;
  transition: all 100ms ease-in-out;
  pointer-events: all;

  div {
    user-select: none;
    pointer-events: none;
  }
  .loginImage {
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: all;
    user-select: none;

  img {
    pointer-events: none;
    margin: 4px;
      height: 50px;
    }
  }

  .littleLogin {
    position: absolute;
    top: 0;
    pointer-events: all;
    user-select: all;
    overflow: hidden;
    width: $buttonWidth;
    height: 0;
    background: #3a70fb;
    border-radius:0 0 10px 10px ;
    transition: all 1000ms ease;
    right: 1%;
   

    .login-container {       
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        margin: 5px;
      }

      label {
        align-self: baseline;
      }

      input {
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background: #e8e8e8;
        box-shadow: 20px 20px 60px #c5c5c5;
        transition: 0.3s;
        user-select: all;
        pointer-events: all;

        &:focus {
          outline-color: #e8e8e8;
          background: #e8e8e8;
          box-shadow: inset 20px 20px 60px #c5c5c5,
             inset -20px -20px 60px #ffffff;
          transition: 0.3s;
         }
      }

      button {
        display: flex;
        margin-top: 10px;
        color: #14396A !important;
        border: none;
        font-size: 0.9em;
        padding: 8px 20px;
        border-radius: 10px;
        background: #63B8EE;
        background: linear-gradient(to top, #63B8EE, #468CCF);
        pointer-events: all;
        box-shadow: 0px 0px 1px rgba(39, 39, 39, 0.3);
        &:hover {
          cursor: pointer;
          background: linear-gradient(to top, #468CCF, #63B8EE);
        }
      }
    }
  }

  .littleLogin_animation {
    overflow: hidden;
    height: var(--littleLoginHeight);
    transition: all var(--loginAnimationDuration) ease;
    animation: open var(--loginAnimationDuration) cubic-bezier(0.51,-0.28, 0.25, 1);
  }
  .littleLogin_animation_out {
    overflow: hidden;
    height: 0px;
    transition: all var(--loginAnimationDuration) ease;
    animation: open cubic-bezier(0.51,-0.28, 0.25, 1) reverse;
  }

  @keyframes open {
    0% {
      height: 0;
    }
    100% {
      height: var(--littleLoginHeight);
    }
  }
}

.growingLogin { // when hover on <Button>
  height: calc(var(--loginButtonRef_height) + 2px);
  width: calc(var(--loginButtonRef_width) + 4px);
  // height:var(--loginButtonRef_height);
  // width: var(--loginButtonRef_width);
  background: #3a70fb;
  cursor: pointer;
  justify-content: center;
}

.block { // Componte de relleno atrás del littleLogin en Absolute
  display: flex;
  position: relative;
  height: var(--loginButtonRef_height);
  width: var(--loginButtonRef_width);
}