:root {
  --modalAnimationDuration: 180ms;
}
.modalComponent {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  // background-color: brown;
  transition: all 500ms;
  .children {
    z-index: 1;
    pointer-events: all;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

    &--active {
      opacity: 1;
      transform: translateY(0);
    }

    &--inactive {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  .modalBackground {
    position: fixed;
    pointer-events: all;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

    &--active {
      opacity: 1;
      visibility: visible;
    }

    &--inactive {
      opacity: 0;
      visibility: hidden;
    }
  }
  .modalBackgroundOut {
    @extend .modalBackground;
    animation: modalBackgroundOut 100ms forwards;
  }

  @keyframes modalBackground {
    from {
      background: transparent; 
    }
    to {
      background-color: #00000062; /* Fondo oscuro */
    }
  }
  @keyframes modalBackgroundOut {
    0% {
      background-color: #00000062; /* Fondo oscuro */
    }
    100% {
      background: transparent; 

    }
  }
}