$backgroundColor: #2f99b9ad;
$backgroundColor: #3ec0e783;
$backgroundColor: #3fa2f6;

$menu-btn-size: 1.5em;

// --- button config
$buttonWidth: fit-content;
$buttonHeight: fit-content;

.buttonOptionComponent {
  // <Button>
  display: flex;
  margin: 0 2px;
  background: $backgroundColor;
  width: $buttonWidth;
  height: $buttonHeight;
  pointer-events: all;
  // justify-content: space-around;
  border-radius: 0 0 5px 5px;
  align-items: center;
  transition: all 100ms ease-in-out;
  text-wrap: nowrap;

  .button {
    font-size: $menu-btn-size;
    margin: 8px 10px 4px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: none;
    user-select: none;
    transition: all 100ms ease-in-out;
  }
  &:hover {
    height: calc($buttonHeight + ($buttonHeight * 0.1));
    width: calc($buttonWidth + 2px);
    background: #3ebfe7;
    border-radius: 0 0 5px 5px;
    cursor: pointer;

    .button {
      font-size: calc($menu-btn-size + 2px);
      color: #212121;
    }
  }
  &:active {
    scale: 1.02;
    filter: brightness(0.9);
  }
}
