$backgroundColor: #2f99b9ad;
$backgroundColor: #3ec0e783;
$backgroundColor: #3fa2f6;
$optionButton_fontColor: rgb(255, 248, 225);

$menu-btn-size: 1.5em;

// --- button config
$buttonWidth: fit-content;
$buttonHeight: fit-content;

.optionButtonComponent {
  display: flex;
  width: $buttonWidth;
  height: $buttonHeight;
  border-radius: 0 0 5px 5px;
  padding: 0.25em 0.5em 0.3em;
  font-size: $menu-btn-size;
  border: none;
  background: $backgroundColor;
  color: $optionButton_fontColor;
  align-items: center;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  box-sizing: border-box;

  a {
    color: $optionButton_fontColor;
  }

  &:hover {
    height: calc($buttonHeight + ($buttonHeight * 0.1));
    width: calc($buttonWidth + 2px);
    background: #3ebfe7;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    font-size: calc($menu-btn-size + 2px);
  }
  &:active {
    scale: 1.02;
    filter: brightness(0.9);
  }
}
