:root {
  --searchInputHeight: 20px;
  --searchInputWidth: 200px;
  --animationDuration: 100ms;
  --searchButtonIconWidth: 58px; /* Definir el ancho del ícono */
  --searchButtonIconHeight: 60px; /* Definir la altura del ícono */
}

.searchButton {
  position: relative;
  display: flex;
  justify-content: center;
  // overflow: hidden;

  .searchButtonIcon {
    animation: openSearchIcon var(--animationDuration);
    width: fit-content;
    height: fit-content;
    will-change: width, height;
  }
  .searchButtonBar {
    display: flex;
    justify-content: center;

    input.searchInput {
      border: none;
      z-index: 10;
      padding: 1rem;
      border-radius: 0 0 0.5rem 0.5rem;
      background-color: #e8e8e8;
      box-shadow: 0 5px 50px #c5c5c5;
      animation: openSearchButton var(--animationDuration) forwards;
      will-change: width, height;

      &:focus {
        outline-color: #e8e8e8;
        margin: 0 2px;
        box-shadow: 0 5px 50px #c5c5c5a1, inset 0 5px 50px #ffffff;
        transition: var(--animationDuration);
      }
    }
  }

  .searchButtonAnimation {
    animation: openSearchButton var(--animationDuration) reverse forwards;
  }

  // Animation
  @keyframes openSearchButton {
    0% {
      height: 0;
      width: 0;
      transform: scaleX(0);
    }
    100% {
      height: var(--searchInputHeight);
      width: var(--searchInputWidth);
      transform: scaleX(1);
    }
  }
}

@keyframes openSearchIcon {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    width: var(--searchButtonIconWidth);
    height: var(--searchButtonIconHeight);
  }
}
