$backgroundColor: rgba(80, 204, 204, 0.307);
$backgroundColor: #5a5a5a;
$backgroundColor: #5a5a5acc;

$primary-color: #19344686;

.headerContent {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100%;

  top: 0;
  pointer-events: none;

  box-sizing: border-box;

  .headerRelativeContent {
    position: relative;
    width: 100%;
    height: 100vh;

    .headerStickyContent {
      position: sticky;
      display: flex;
      top: 0;
      height: fit-content;
      width: 100%;
      flex-direction: row;

      .floatingButtonBox:nth-child(1) {
        display: flex;
        margin-left: 5%;
      }

      .navOptions { // ul
        display: flex;
        padding: 0;
        margin: 0 var(--marginRight) 0 auto;
        pointer-events: all;

        li {
          margin-left: 20px;
      
          a {
            color: white;
            text-decoration: none;
            font-size: 16px;
      
            &:hover {
              color: lighten($primary-color, 20%);
            }
          }
        }
      }

      .loginComponent {
        position: absolute;
        right: 60px; /* Se alinea al lado derecho del contenedor */
        top: 0;
      }
    }
  }
}


// Use 
// pointer-events: all; // Permite seleccionar texto detras de otro elemento, como este

// Use
// user-select: none; // Impide al usuario seleccionar el texto
