

.elementsA {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 0;
    color: #C4DAD2;
  }
  .referenceContent {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 1em;
    border-radius: 10px;
    background: #6A9C89;

    .element {
      border-radius: 10px;
      padding: 0.8rem 1rem;
      color: #C4DAD2;
      background: #16423C;
    }
  }
}