$default_background_color: #64a59a;
@import "/src/style/globalStyle.scss";

* {
  // font-family: $poppinsFont;
  font-family: inherit;
}
.option1 {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  // background-image:
  //   linear-gradient(#10456eb8, #04070aa7), url(https://media.giphy.com/media/KZFrf9JusXzmpnPsT6/giphy.gif?cid=790b7611u9aq5oainzo5ovke5ydr4w0ac8yego30ej0ou49o&ep=v1_gifs_search&rid=giphy.gif&ct=g); /* Imagen de fondo */
  background-image: linear-gradient(#10466efd, #04070af3);
  background-size: cover;

  .contentExample {
    display: flex;
    flex-direction: column;

    
    ul {
      display: flex;
      background-color: #64a59a;
      border-radius: 1em;
      padding: 1em;
      margin: 1em 0;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s ease-in-out;
      user-select: none;

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }

      &:active {
        transform: scale(1.02);
      }

      h2 {
        color: white;
        font-size: 1.5em;
        margin: 0;
        padding: 0;
      }

      p {
        color: white;
        font-size: 1em;
        margin: 0;
        padding: 0;
      }
    }
    .active {
      background: #e3d255;
    }
  }

  .option1_mainTitle {
    display: flex;
    padding: 3em 0;
    flex-direction: column;
    position: relative;
    width: -webkit-fill-available;
    min-height: 100vh;
    background: #229799;
    justify-content: center;
    align-items: center;

    h1 {
      color: antiquewhite;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .8em;

      div {
        border-radius: .5em;
        padding: .3rem .6rem;
        background: #888;

        &:hover {
          background: #666;
          cursor: pointer;
        }
        &:active {
          color: #ccc;
          scale: 1.02;
          background: #444;
        }
      }
      .active {
        background: #e3d255 !important;
      }
    }
  }

  .option1_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 80px;
    min-height: calc(100vh - 80px);
    background-color: $default_background_color; // Default Option1 background color
    p {
      text-align: center;
      font-size: 1em;
      color: rgb(0, 255, 255);
    }

    // --------------------------------
    .enter_text {
      display: flex;
      position: relative;
      flex-direction: column;
      margin: 0 auto;
      background-color: #32323500;
      height: 80px;
      width: fit-content;
      border-radius: 8px;
      box-sizing: content-box;

      .editable--capsule {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        &--text--button {
          display: flex;
          margin: 0 auto;
          width: 200px;
          height: fit-content;
          background: #437790;
          outline: none;
          transition: 0.2s ease;
          box-sizing: border-box;

          label {
            font-weight: 500;
            margin: auto;
            font-size: 1.7em;
            padding: 20px 30px;
            color: #ccc;
            box-sizing: border-box;
          }

          &:hover {
            cursor: pointer;
            color: #f0ecec;
            scale: 1.01;
          }
        }
        &--text--expanded {
          max-width: 500px;
          max-height: 80vh;

          .richtext {
            width: 100%;
            max-height: 100%;
            background: #437790;
            transition: 0.2s ease;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;
            background-color: #fff;
            font-style: initial;
            outline: none;
            overflow-y: auto;
            line-height: initial;
            white-space: pre-wrap; /* Preserva los saltos de línea y espacios */
            word-wrap: break-word; /* Ajusta el texto dentro del contenedor */

            /* Estilo para los párrafos dentro del richtext */
            p {
              margin: 0;
              padding: 0;
            }

            /* Texto placeholder cuando el div está vacío */
            &:empty:before {
              content: "Write something...";
              color: #888;
            }
          }
        }
      }
    }

    .items {
      display: grid;
      margin: 0 auto;
      width: 90vw;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1em;
      box-sizing: border-box;

      .note {
        display: flex;
        height: fit-content;
        flex-direction: column;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: #deeaef;

        &--void {
          content: "no items";
        }

        &--title {
          display: flex;
          padding: 0 10px;
          align-items: center;
          gap: 1em;
          box-sizing: border-box;

          h1 {
            margin: 0;
          }
          p {
            margin-left: auto;
          }
        }
        .html_content {
          padding: 1em 1em 0 1em;
          font-style: unset;
          // font-style: initial;
          // width: 100%;
          // word-break: break-word;
          // display: flex;
          // box-sizing: border-box;
        }
        .delete {
          background: #a31b2b;
          outline: none;
          border: none;
          padding: 5px;
          font-weight: 400px;
          color: #c66c6c;
          border-radius: 0 0 8px 8px;

          &:hover {
            user-select: all;
            pointer-events: all;
            cursor: pointer;
            scale: 1.01;
          }
        }
      }
    }
  }

  .option1_elements {
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    gap: 1em;
    .option1_elements_child {
      display: flex;
      width: 300px;
      height: 220px;
      background: #437790;
      flex-direction: column;
      border: 1px solid rgb(35, 62, 66);
      border-radius: 1em;
      padding-bottom: 1em;
      overflow: hidden;
    }
    .option1_elements_child_title {
      display: flex;
      padding: 1em;
      width: 100%;
      background-color: rgba(16, 63, 71, 0.504);
      box-sizing: border-box;

      h2 {
        margin: 0;
        padding: 0;
        color: white;
      }
    }
    .option1_elements_child_info {
      margin: 0;
      padding: 0 1em;
      height: 100%;

      .two-elements {
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: center;

        p {
          font-size: 1.2em;
          padding-left: 0.3em;
          font-weight: 500;
          color: rgb(42, 30, 138);
        }

        .option1_elements_child_info_audio_image {
          position: relative;
          display: flex;
          width: 190px;
          height: 140px;
          margin: 0.5em 0;
          object-fit: cover;
          border-radius: 1em;
          overflow: hidden;
          transition: transform 0.1s ease-in-out;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: all;
            user-select: all;
          }

          &:hover {
            transform: scale(1.1);
          }

          &:active {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
