
.option2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: -webkit-fill-available;
  // background-image: 
  //   linear-gradient(#10456eb8, #04070aa7), url(https://media.giphy.com/media/KZFrf9JusXzmpnPsT6/giphy.gif?cid=790b7611u9aq5oainzo5ovke5ydr4w0ac8yego30ej0ou49o&ep=v1_gifs_search&rid=giphy.gif&ct=g); /* Imagen de fondo */
  background-image: linear-gradient(#10466efd, #04070af3);
  background-size: cover;
  
  .option2_mainTitle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: -webkit-fill-available;
    height: 100vh;
    background: #227B94;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
      color: antiquewhite;
    }

   .box2 {
    display: flex;
    width: 100%;
    justify-content: center;

    article {
      display: flex;
      height: 200px;
      width: 300px;
      overflow: hidden;
      border-radius: 10px;
      background: #071619;
      margin: 1em;
      transition: height 0.3s, box-shadow 0.3s;
      interpolate-size: allow-keywords;

      img {
        opacity: 0;
        height: 100%;
        width: 100%;
        transition: opacity 0.1s;
      }
    }

    article:hover {
      cursor: pointer;
      height: fit-content;
      box-shadow: 0px 0px 60px 5px#ffffff9d;

      img {
        opacity: 1;
      }
    }
   }
  }
}